{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>Registratie op het VNG API test-platform</title>
</head>

<body>
<p>
  U heeft zich aangemeld voor een account op het API test-platform van VNG.
  Mocht u dit niet hebben gedaan dan kunt u dit bericht negeren. Uw e-mailadres wordt automatisch verwijderd.
</p>
<p>
Om dit account te accepteren klik op de volgende link binnen 7 dagen:
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
  met vriendelijke groet,
</p>
<p>
  VNG API test-platform beheer
</p>
</body>

</html>


{% comment %}
**registration/activation_email.html**

Used to generate the html body of the activation email. Should display a
link the user can click to activate the account. This template has the
following context:

``activation_key``
    The activation key for the new account.

``expiration_days``
    The number of days remaining during which the account may be
    activated.

``site``
    An object representing the site on which the user registered;
    depending on whether ``django.contrib.sites`` is installed, this
    may be an instance of either ``django.contrib.sites.models.Site``
    (if the sites application is installed) or
    ``django.contrib.sites.requests.RequestSite`` (if not). Consult `the
    documentation for the Django sites framework
    <http://docs.djangoproject.com/en/dev/ref/contrib/sites/>`_ for
    details regarding these objects' interfaces.

``user``
    The new user account

``request``
    ``HttpRequest`` instance for better flexibility.
    For example it can be used to compute absolute register URL:

        {{ request.scheme }}://{{ request.get_host }}{% url 'registration_activate' activation_key %}
{% endcomment %}
