{% extends "registration/registration_base.html" %}{% load sniplates %}

{% block title %}Login{% endblock %}

{% block content %}
    <div id="ui-view">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <form class="" method="post">{% csrf_token %}
                    <div class="card">
                        <div class="card-header">
                            Login
                        </div>
                        <div class="card-body">
                            {% load_widgets form='forms.html' %}

                            {% for field in form %}
                                {% form_field field n=forloop.counter0 %}
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-dot-circle-o"></i> Submit</button>
                            <a type="submit" class="btn btn-sm btn-danger" href="{% url 'auth_password_reset' %}">Wachtwoord vergeten?</a>
                        </div>
                        {% comment %} <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit">
                            <i class="fa fa-dot-circle-o"></i> Submit</button>
                            <a type="submit" class="btn btn-sm btn-primary" href="{% url 'auth_password_reset' %}">Wachtwoord vergeten?</a>
                        </div> {% endcomment %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
