{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Bevestig wachtwoord reset" %}{% endblock %}

{% block content %}
<div id="ui-view">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="card">
                    <div class="card-header">
                        Registratie succesvol
                    </div>
                    <div class="card-body">
                    {% if validlink %}
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="{% trans 'Opslaan' %}" />
                        </form>
                        <p class="card-text">
                            {% trans "U heeft een e-mail ontvangen met de te volgen stappen om het registreren te voltooien." %}
                        </p>
                        {% else %}
                        <p class="card-text">
                            Uw wachtwoord reset kon niet worden uitgevoerd. Probeer het a.u.b. <a href="{% url 'auth_password_reset' %}">nogmaals</a>.
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
