{% extends "registration/registration_base.html" %}{% load sniplates %}
{% load i18n %}

{% block title %}{% trans "Reset wachtwoord" %}{% endblock %}

{% block content %}
<article class="article">
    <div class="article__section">
        <h2>Reset wachtwoord</h2>
        <p>Bent u uw wachtwoord vergeten? Vul onderstaande gegevens in om weer toegang te krijgen tot het platform.</p>
        <form method="post" class="form" action="">
            {% csrf_token %}
            {% load_widgets form='forms.html' %}

            {% for field in form %}
                {% form_field field %}
            {% endfor %}
            <input type="submit" class="button button--primary" value="{% trans 'Reset wachtwoord' %}">
        </form>
    </div>
</article>

{% endblock %}


{# This is used by django.contrib.auth #}
