{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Bevestig wachtwoord reset" %}{% endblock %}

{% block content %}
{% if validlink %}
  <p>{% trans "Vul uw nieuwe wachtwoord in:" %}</p>
  <form method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="{% trans 'Opslaan' %}" />
  </form>
{% else %}
  Uw wachtwoord reset kon niet worden uitgevoerd. Probeer het a.u.b. <a href="{% url 'auth_password_reset' %}">nogmaals</a>.
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
