{% extends "registration/registration_base.html" %}
{% load sniplates %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <form class="" method="post">{% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        Registratieformulier
                    </div>
                    <div class="card-body">
                        {% load_widgets form='forms.html' %}
                        {% for field in form %}
                            {% if field.name == 'captcha' %}
                                <div class="form__control" role="group">
                                        {{field}}
                                </div>
                            {% else %}
                            {% form_field field %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="{% trans 'Submit' %}" class="btn btn-sm btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
