{% spaceless %}
<tr>

    {% if server_run.stopped %}
        <td class="table__cell">
            <a href="{% url 'server_run:server-run_detail' server_run.pk %}">#{{ server_run.id }}</a>
            Status: {{ server_run.status }}
        </td>
        <td class="table__cell">{{ server_run.stopped }}</td>
    {% else %}
        <td class="table__cell">
            #{{ server_run.id }}
            Status: {{ server_run.status }}
        </td>
        <td class="table__cell"></td>
    {% endif %}

    <td class="table__cell">{{ server_run.test_scenario.name }}</td>
    <td class="table__cell">
        {% if server_run.success != None %}
            {% if server_run.success  %}
                <p class='cui-check h2'></p>
            {% elif not server_run.success  %}
                <p class='cui-circle h2'></p>
            {% endif %}
        {% endif %}
    </td>
    {% if server_run.is_running %}
        <td class="table__cell" id='starting' server_run_id='{{server_run.id}}'>
    {% else %}
        <td class="table__cell">
    {% endif %}
        {% if not server_run.is_stopped and not server_run.is_running %}
        <form method="POST" action="{% url 'server_run:server-run_stop' server_run.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Stop">
        </form>
        {% endif %}
        {% if not server_run.is_stopped  %}
            {% if server_run.percentage_exec and server_run.status_exec %}
                {{ server_run.percentage_exec }}% {{ server_run.status_exec }}
            {% endif %}
        {% endif %}
    </td>
    <td>
        <span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
            <a href="{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">
                <img style='width:100%' alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:provider:api_server-run-shield-detail' server_run.id %}">
            </a>
        </span>
    </td>
</tr>
{% endspaceless %}
