{% spaceless %}
<tr>
    <td>
        <a href="{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">#{{ server_run.id }}</a>
    </td>

    <td>
        {% if server_run.status == choices.running %}
            <span class="badge badge-pill badge-success">Running</span>
        {% elif server_run.status == choices.starting %}
            <span class="badge badge-pill badge-light">Starting</span>
        {% elif server_run.status == choices.stopped %}
            <span class="badge badge-pill badge-secondary">Stopped</span>
        {% elif server_run.status == choices.error_deploy %}
            <span class="badge badge-pill badge-danger">Error during deployment</span>
        {% else %}
            <span class="badge badge-pill badge-dark">{{ server_run.status }}</span>
        {% endif %}
    </td>
    {% if not server_run.stopped %}
        <td>00:01 Elke dag</td>
    {% else %}
        <td></td>
    {% endif %}

    <td>{{ server_run.test_scenario.name }}</td>
    <td>
        {% if server_run.success != None %}
            {% if server_run.success  %}
                <p class='cui-check h2'></p>
            {% elif not server_run.success  %}
                <p class='cui-circle-x h2'></p>
            {% endif %}
        {% endif %}
    </td>
    <td>
        {% if server_run.last_exec %}
            {{server_run.last_exec}}
        {% endif %}
    </td>
    <td>
        {% if not server_run.is_stopped %}
             <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger"  value="Stop">
             </form>

             <a type="submit" class="btn btn-primary"  href="{% url 'server_run:server-run_trigger' server_run.pk %}">Uitvoeren</a>
        {% endif %}
    </td>
    <td>
        <span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
            <a href="{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">
                <img style='width:100%' alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:provider:api_server-run-shield-detail' server_run.id %}">
            </a>
        </span>
    </td>
</tr>
{% endspaceless %}
