{% spaceless %}
<tr>

    {% if server_run.stopped %}
        <td class="table__cell">
            <a href="{% url 'server_run:server-run_detail' server_run.pk %}">#{{ server_run.id }}</a>
            Status: {{ server_run.status }}
        </td>
        <td class="table__cell">{{ server_run.stopped }}</td>
    {% else %}
        <td class="table__cell">
            #{{ server_run.id }}
            Status: {{ server_run.status }}
        </td>
        <td class="table__cell"></td>
    {% endif %}

    <td class="table__cell">{{ server_run.test_scenario.name }}</td>
    <td class="table__cell">
        {% if server_run.success != None %}
            {% if server_run.success  %}
                <p class='icon icon--checkmark'></p>
            {% elif not server_run.success  %}
                <p class='icon icon--cross'></p>
            {% endif %}
        {% endif %}
    </td>
    {% if server_run.is_running %}
        <td class="table__cell" id='starting' server_run_id='{{server_run.id}}'>
    {% else %}
        <td class="table__cell">
    {% endif %}
        {% if not server_run.is_stopped and not server_run.is_running %}
        <form method="POST" action="{% url 'server_run:server-run_stop' server_run.id %}">
            {% csrf_token %}
            <input type="submit" type="button" class="button button--primary" value="Stop">
        </form>
        {% endif %}
        {% if not server_run.is_stopped  %}
            {% if server_run.percentage_exec and server_run.status_exec %}
                {{ server_run.percentage_exec }}% {{ server_run.status_exec }}
            {% endif %}
        {% endif %}
    </td>
</tr>
{% endspaceless %}
