{% spaceless %}
<tr>
    <td>Sessie</td>
    <td>{{ server_run.pk }}</td>
</tr>

<tr>
    <td>Test Scenario</td>
    <td>
        <ul>
            {% for pc in server_run.test_scenario.postmantest_set.all %}
            <li>
                <a href="{% url 'server_run:postman_download' pc.pk %}">{{ server_run.test_scenario }}</a>
            </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% for ep in server_run.endpoint_set.all %}
    <tr>
        <td>{{ ep.test_scenario_url.name }}</td>
        <td>{{ ep.url }}</td>
    </tr>
{% endfor %}

<tr>
    <td>Started</td>
    <td>{{ server_run.started }}</td>
</tr>
{% if server_run.stopped %}
    <tr>
        <td>Stopped</td>
        <td>{{ server_run.stopped }}</td>
    </tr>
{% endif %}

{% if server_run.scheduled and not server_run.is_stopped and request.user.is_authenticated and server_run.user == request.user %}
<tr>
    <td>Status</td>
    <td>{{ server_run.status }}
    <p>Wordt automatisch uitgevoerd om: <span class="badge badge-secondary">00:01</span></p>
    {% if server_run.last_exec %}
        <p>Laatste uitvoering om: <span class="badge badge-secondary">{{server_run.last_exec}}</span></p>
    {% endif %}
    </td>
</tr>
<tr>
    <td>Actie</td>
    <td>
        <div class='row'>
        <div class='col-3'>
            <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Stop">
            </form>
        </div>
        <div class='col-6'>
          <a type="submit" class="btn btn-primary"  href="{% url 'server_run:server-run_trigger' server_run.pk %}">Nu Uitvoeren</a>
        </div>
        </div>
    </td>
</tr>
{% else %}
<tr>
    <td>Status</td>
    <td>{{ server_run.status }}</td>
</tr>
{% endif %}
<tr>
    <td>Log</td>
        <td>
            {% for pr in postman_result %}
                <ul>
                    <li><a href="{% url 'server_run:server-run_detail_log' pr.server_run.uuid %}">Visualize HTML log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_log_json' pr.server_run.uuid %}">Visualize JSON log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_pdf' pr.server_run.uuid  %}">Visualize PDF report</a></li>
                </ul>
            {% endfor %}
        </td>
    </td>
</tr>



{% endspaceless %}
