{% spaceless %}
<tr>
    <td>Sessie</td>
    <td>{{ server_run.pk }}</td>
</tr>

<tr>
    <td>Test Scenario</td>
    <td>
        <ul>
            {% for pc in server_run.test_scenario.postmantest_set.all %}
            <li>
                <a href="{% url 'server_run:postman_download' pc.pk %}">{{ server_run.test_scenario }}</a>
            </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% for ep in server_run.endpoint_set.all %}
    <tr>
        <td>{{ ep.test_scenario_url.name }}</td>
        <td>{{ ep.url }}</td>
    </tr>
{% endfor %}

<tr>
    <td>Started</td>
    <td>{{ server_run.started }}</td>
</tr>
<tr>
    <td>Stopped</td>
    <td>{{ server_run.stopped }}</td>
</tr>

<tr>
    <td>Status</td>
    <td>{{ server_run.status }}</td>
</tr>
{% if server_run.scheduled and not server_run.is_stopped and request.user.is_authenticated and server_run.user == request.user %}
<tr>
    <td>Actie</td>
    <td>
        <div class='row'>
        <div class='col-3'>
            <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Stop">
            </form>
        </div>
        <div class='col-6'>
          <a type="submit" class="btn btn-primary"  href="{% url 'server_run:server-run_trigger' server_run.pk %}">Uitvoeren</a>
	  <p>Wordt dagelijks uitgevoerd om: 00:01</p>
        </div>
        </div>
    </td>
</tr>
{% endif %}

<tr>
    <td>Log</td>
        <td>
            {% for pr in postman_result %}
                <ul>
                    <li><a href="{% url 'server_run:server-run_detail_log' pr.pk %}">Visualize HTML log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_log_json' pr.pk %}">Visualize JSON log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_pdf' pr.server_run.uuid pr.pk %}">Visualize PDF report</a></li>
                </ul>
            {% endfor %}
        </td>
    </td>
</tr>



{% endspaceless %}
