{% extends 'master.html' %}
{% load sniplates %}


{% block title %}Session List{% endblock %}



{% block content %}
    <article class="article">
        <div class="article__section">
            <h1>OpenAPI Check</h1>
            <h2>Controleer de OpenAPI specificatie schema</h2>

            <form class="form" method="post">{% csrf_token %}
                {% load_widgets form='forms.html' %}

                {% for field in form %}
                    {% form_field field %}
                {% endfor %}

                <input type="submit" class="button button--primary" value="Verifieer">
                <input type="button" class="button" value="Terug"
                       onclick="location.href = '{% url 'server_run:server-run_list' %}';">
            </form>

        </div>

    </article>
{% endblock %}
