# Developers
.hg
.git
.svn
.idea/
.sass-cache/
*.db
*.pyc
__pycache__
*~

# Javascript libraries
/node_modules/

# Coverage reports
/reports/
/htmlcov/

# Environment
local.py
/env/
/media/
!/media/Google.postman_collection.json
/static/
/src/vng/static/css
/src/vng/static/js
/mail/
/log/*.log*
/log/nginx/*.log*

/src/vng/static/css/admin/admin_overrides.css
.vscode/*
dump.rdb
maintenance.html
vng.db-journal
