{% spaceless %}
<ul class="breadcrumb">
    {% for url, label in breadcrumbs %}
        <li class="breadcrumb__list-item">
            {% ifnotequal forloop.counter breadcrumbs_total %}
                <a class="breadcrumb__link" href="{{ url }}">{{ label|safe }}</a>
            {% else %}
                <span>{{ label|safe }}<span>
            {% endifnotequal %}
            {% if not forloop.last %}
                <span class="breadcrumb__divider"></span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endspaceless %}
