{% spaceless %}
<ol class="breadcrumb">
    {% for url, label in breadcrumbs %}
        {% ifnotequal forloop.counter breadcrumbs_total %}
            <li class="breadcrumb-item">
                <a href="{{ url }}">{{ label|safe }}</a>
            </li>
        {% else %}
            <li class="breadcrumb-item active">
                {{ label|safe }}
            </li>
        {% endifnotequal %}
    {% endfor %}
    {% comment %} <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button
            group">
            <a class="btn" href="#">
                <i class="icon-speech"></i>
            </a>
            <a class="btn" href="./">
                <i class="icon-graph"></i> &nbsp;Dashboard</a>
            <a class="btn" href="#">
                <i class="icon-settings"></i> &nbsp;Settings</a>
        </div>
    </li> Eventually other elements on the right {% endcomment %}
</ol>
{% endspaceless %}
