<thead>
    {% comment %}
    <tr>
        <td class="table__heading">s</td>
        <td class="table__heading">s</td>
    </tr>
    {% endcomment %}
</thead>
<tbody>
    <tr>
        <td class="table__cell">Standard</td>
        <td class="table__cell">{{ scenario.standard }}</td>
    </tr>
    <tr>
        <td class="table__cell">Role</td>
        <td class="table__cell">{{ scenario.role }}</td>
    </tr>
    <tr>
        <td class="table__cell">Application</td>
        <td class="table__cell">{{ scenario.application }}</td>
    </tr>
    <tr>
        <td class="table__cell">Version</td>
        <td class="table__cell">{{ scenario.version }}</td>
    </tr>
    <tr>
        <td class="table__cell">Created</td>
        <td class="table__cell">{{ scenario.created }}</td>
    </tr>
    <tr>
        <td class="table__cell">Performed</td>
        {% if scenario.performed %}
            <td class="table__cell">{{ scenario.performed }}</td>
        {% endif %}
    </tr>
</tbody>
