{% spaceless %}
<tr>
    {% if not session.is_starting %}
        <td class="table__cell">
            <a href="{% url 'testsession:session_log' session.pk %}">{{ session.started }}</a>
        </td>
    {% else %}
        <td class="table__cell">{{ session.started }}</td>
    {% endif %}
    <td class="table__cell">{{ session.stopped }}</td>
    <td class="table__cell">{{ session.status }}</td>
    <td class="table__cell">{{ session.session_type.name }}</td>
    <td class="table__cell">{{ session.user.username }}</td>
    <td class="table__cell">{{ session.api_endpoint }}</td>
    {% if session.exposed_api %}
        {% url 'testsession:run_test' exposed_api=session.exposed_api relative_url='' as proxy_url %}
        <td class="table__cell"><a href="{{ proxy_url }}" target="_blank">{{ proxy_url }}</a></td>
    {% else %}
        <td class="table__cell">None</td>
    {% endif %}

    <td class="table__cell">
        {% if not session.is_stopped %}
        <form method="POST" action="{% url 'testsession:stop_session' session.id %}">
            {% csrf_token %}
            <input type="submit" type="button" class="button button--primary" value="Stop">
        </form>
        {% else %}
            {% if session.test_result %}
                <input type="button" class="button button--primary" value="Test report" onclick="location.href = '{% url 'testsession:session-test_report' session.id %}';">
            {% endif %}

        {% endif %}
    </td>
</tr>
{% endspaceless %}
