{% spaceless %}
{% for endpoint in cluster %}
    <tr>
        <td class="table__cell">
            {% if forloop.counter is 1 %}
            <a href="{% url 'testsession:session_log' endpoint.session.id %}">{{ endpoint.session.started }}</a>
            {% endif %}
        </td>
        <td class="table__cell">{{ endpoint.session.status }}</td>
        <td class="table__cell">{{ endpoint.session.session_type.name }}</td>


        <td class="table__cell">
            <a href="{% url 'testsession:run_test' endpoint.exposed_url '' %}">{{endpoint.exposed_url}}</a>
        </td>


        <td class="table__cell">
            {% if not endpoint.session.is_stopped %}
                <form method="POST" action="{% url 'testsession:stop_session' endpoint.session.id %}">
                    {% csrf_token %}
                    <input type="submit" type="button" class="button button--primary" value="Stop">
                </form>
            {% else %}
                {% if session.test_result %}
                    <input type="button" class="button button--primary" value="Test report" onclick="location.href = '{% url 'testsession:session-test_report' session.id %}';">
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}
{% endspaceless %}
