{% spaceless %}
<tr>
    {% if server_run.stopped %}
        <td class="table__cell">
            <a href="{% url 'server_run:server-run_detail' server_run.pk %}">#{{ server_run.id }}</a>
            Status: {{ server_run.status }}
        </td>

    {% else %}
        <td class="table__cell">
            <a href="{% url 'server_run:server-run_detail' server_run.pk %}">#{{ server_run.id }}</a>
            Status: {{ server_run.status }}
        </td>
    {% endif %}
    <td class="table__cell">{{ server_run.started }}</td>

    <td class="table__cell">{{ server_run.test_scenario.name }}</td>
    <td class="table__cell">
        {% if server_run.success != None %}
            {% if server_run.success  %}
                <p class='icon icon--checkmark'></p>
            {% elif not server_run.success  %}
                <p class='icon icon--cross'></p>
            {% endif %}
        {% endif %}
    </td>
    <td class="table__cell table__cell--keep_word">

        {% if not server_run.is_stopped %}
        <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
            {% csrf_token %}
            <input type="submit" class="button button--primary button--small"  value="Stop">
        </form>
        <a type="submit" class="button button--primary button--small"  href="{% url 'server_run:server-run_trigger' server_run.pk %}">Uitvoeren</a>
        {% endif %}
    </td>
    <td class="table__cell">
        <span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">
            <a href="{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">
                <img style='width:100%' alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url 'apiv1server:provider:api_server-run-shield-detail' server_run.id %}">
            </a>
        </span>
    </td>
</tr>
{% endspaceless %}
