{% spaceless %}
<tr>
    <td class="table__cell">Id</td>
    <td class="table__cell">{{ server_run.pk }}</td>
</tr>

<tr>
    <td class="table__cell">Test Scenario</td>
    <td class="table__cell">
        <ul>
            {% for pc in server_run.test_scenario.postmantest_set.all %}
            <li>
                <a href="{% url 'server_run:postman_download' pc.pk %}">{{ server_run.test_scenario }}</a>
            </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% for ep in server_run.endpoint_set.all %}
    <tr>
        <td class="table__cell">{{ ep.test_scenario_url.name }}</td>
        <td class="table__cell">{{ ep.url }}</td>
    </tr>
{% endfor %}

<tr>
    <td class="table__cell">Started</td>
    <td class="table__cell">{{ server_run.started }}</td>
</tr>
<tr>
    <td class="table__cell">Stopped</td>
    <td class="table__cell">{{ server_run.stopped }}</td>
</tr>

<tr>
    <td class="table__cell">Status</td>
    <td class="table__cell">{{ server_run.status }}</td>
</tr>

<tr>
    <td class="table__cell">Log</td>
        {% for pr in postman_result %}
            <td class="table__cell">
                <ul>
                    <li><a href="{% url 'server_run:server-run_detail_log' pr.pk %}">Visualize HTML log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_log_json' pr.pk %}">Visualize JSON log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_pdf' pr.server_run.pk pr.pk %}">Visualize PDF report</a></li>
                </ul>
            </td>
        {% endfor %}
    </td>
</tr>

{% if server_run.scheduled %}
<tr>
    <td class="table__cell">Badge</td>
</tr>
<tr>
    <td class="table__cell" colspan='2' >
            <?prettify lang=html linenums=true?>
            <pre class="prettyprint" id='snippet'>
                <xmp>

                </xmp>
            </pre>
    </td>
</tr>
{% endif %}

{% block script %}
    <script>
    var str ='[![Status badge]\n'
            +'(https://img.shields.io/endpoint.svg?style=for-the-badge&amp;url={{request.scheme}}://{{request.get_host}}{% url "apiv1server:provider:api_server-run-shield-detail" server_run.id %})]\n'
            +'(https://shields.io/)\n'

  function htmlEscape(s) {
    return s
      .replace(/&/g, '&amp;')
      .replace(/</g, '&lt;')
      .replace(/>/g, '&gt;');
  }

  // this page's own source code
  var quineHtml = htmlEscape(str);

  // Highlight the operative parts:
  quineHtml = quineHtml.replace(
    /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
    '<span class="operative">$&<\/span>');

  // insert into PRE
  document.getElementById("snippet").innerHTML = quineHtml;
  </script>
{% endblock %}

{% endspaceless %}
