{% spaceless %}
<tr>
    <td class="table__cell">Id</td>
    <td class="table__cell">{{ server_run.pk }}</td>
</tr>

<tr>
    <td class="table__cell">Test Scenario</td>
    <td class="table__cell">
        <ul>
            {% for pc in server_run.test_scenario.postmantest_set.all %}
            <li>
                <a href="{% url 'server_run:postman_download' pc.pk %}">{{ server_run.test_scenario }}</a>
            </li>
            {% endfor %}
        </ul>
    </td>
</tr>
{% for ep in server_run.endpoint_set.all %}
    <tr>
        <td class="table__cell">{{ ep.test_scenario_url.name }}</td>
        <td class="table__cell">{{ ep.url }}</td>
    </tr>
{% endfor %}

<tr>
    <td class="table__cell">Started</td>
    <td class="table__cell">{{ server_run.started }}</td>
</tr>
<tr>
    <td class="table__cell">Stopped</td>
    <td class="table__cell">{{ server_run.stopped }}</td>
</tr>

<tr>
    <td class="table__cell">Status</td>
    <td class="table__cell">{{ server_run.status }}</td>
</tr>
{% if server_run.scheduled and not server_run.is_stopped %}
<tr>
    <td class="table__cell">Actie</td>
    <td class="table__cell">
        <form id="myform" method="POST" action="{% url 'server_run:server-run_stop' server_run.pk %}">
            {% csrf_token %}
            <input type="submit" class="form__button button button--primary" value="Stop">
        </form>
        <a type="submit" class="button button--primary "  href="{% url 'server_run:server-run_trigger' server_run.pk %}">Uitvoeren</a>
    </td>
</tr>
{% endif %}

<tr>
    <td class="table__cell">Log</td>
        <td class="table__cell">
            {% for pr in postman_result %}
                <ul>
                    <li><a href="{% url 'server_run:server-run_detail_log' pr.pk %}">Visualize HTML log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_log_json' pr.pk %}">Visualize JSON log</a></li>
                    <li><a href="{% url 'server_run:server-run_detail_pdf' pr.server_run.pk pr.pk %}">Visualize PDF report</a></li>
                </ul>
            {% endfor %}
        </td>
    </td>
</tr>

{% if server_run.scheduled %}
<tr>
    <td class="table__cell">Badge HTML</td>
</tr>
<tr>
    <td class="table__cell" colspan='2' >
            <?prettify lang=html linenums=true?>
            <pre class="prettyprint" id='htmlSnippet'>
                <xmp>

                </xmp>
            </pre>
    </td>
</tr>
<tr>
    <td class="table__cell">Badge Github</td>
</tr>
<tr>
    <td class="table__cell" colspan='2' >
            <?prettify lang=html linenums=true?>
            <pre class="prettyprint" id='gitSnippet'>
                <xmp>

                </xmp>
            </pre>
    </td>
</tr>
{% endif %}

{% block script %}
    <script>
    var gitSnippet = '[![Status badge]\n'
            + '(https://img.shields.io/endpoint.svg?style=for-the-badge&amp;\n'
            + 'url={{request.scheme}}://{{request.get_host}}{% url "apiv1server:provider:api_server-run-shield-detail" server_run.id %})]\n'
            + '({{request.scheme}}://{{request.get_host}}{% url 'server_run:server-run_detail_uuid' server_run.uuid %})\n'

    var htmlSnippet = '<span display="block" height="20px" class="common__BadgeWrapper-sc-16zh6vt-3 fagfmg">\n'
            + '<a href="{{request.scheme}}://{{request.get_host}}{% url 'server_run:server-run_detail_uuid' server_run.uuid %}">\n'
            + '<img style="width:100%" alt="" src="https://img.shields.io/endpoint.svg?style=for-the-badge&amp;\n '
            + 'url={{request.scheme}}://{{request.get_host}}{% url "apiv1server:provider:api_server-run-shield-detail" server_run.id %}"></span></a>'

    function htmlEscape(s) {
        s = s.replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;');
        return s
    }

    function htmlReplace(s){
        s=s.replace(
        /&lt;script src[\s\S]*?&gt;&lt;\/script&gt;|&lt;!--\?[\s\S]*?--&gt;|&lt;pre\b[\s\S]*?&lt;\/pre&gt;/g,
        '<span class="operative">$&<\/span>');
        return s;
    }

    // this page's own source code
    gitSnippet = htmlEscape(gitSnippet);
    gitSnippet = htmlReplace(gitSnippet);


    htmlSnippet = htmlEscape(htmlSnippet);
    htmlSnippet = htmlReplace(htmlSnippet);


    // insert into PRE
    document.getElementById("gitSnippet").innerHTML = gitSnippet;
    document.getElementById("htmlSnippet").innerHTML = htmlSnippet;
  </script>
{% endblock %}

{% endspaceless %}
