@import '../../lib/color';
@import '../../lib/typography';

$table-color-term: $color-gray-darker;
$table-color-border: $color-gray;

.table {
  border: none;
  border-collapse: collapse;
  font-size: 0;
  table-layout: fixed;
  width: 100%;

  &--auto {
    table-layout: auto;
  }

  &__heading,
  &__cell {
    @include body;
    @include mono;
    @include responsive(display, block, table-cell, table-cell, table-cell);
    border-top: 2px solid $table-color-border;
    padding: 10px;
    position: relative;
    text-align: left;
    vertical-align: top;
    width: 100%;

    &--keep_word {
      word-break: keep-all;
    }

    &--error {
      background-color: #ff6666;
    }

    word-break: normal;
    white-space: normal;

  }

  &--auto &__heading,
  &--auto &__cell {
    width: auto;
  }

  &__cell {
    color: $table-color-term;
  }
}
