{% load staticfiles %}
{% load tag_library %}
{% with red="bgcolor='#FF0000' style='color:#ffffff' " %}
{% with green="bgcolor='#1d8719' style='color:#ffffff'" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Server Report</title>
</head>

<body>

    {% include 'components/logo/logo.html' %}
    <div>
        <h1>Server Report</h1>

        <h2>Server details</h2>
        <table class='table-t'>
            <tbody>
                <tr>
        <td class="table__cell">Id</td>
        <td class="table__cell">{{ object.pk }}</td>
        </tr>

        <tr>
            <td class="table__cell">Test Scenario</td>
            <td class="table__cell">{{ object.test_scenario }}</td>
        </tr>
        <tr>
            <td class="table__cell">Started</td>
            <td class="table__cell">{{ object.started }}</td>
        </tr>
        <tr>
            <td class="table__cell">Stopped</td>
            <td class="table__cell">{{ object.stopped }}</td>
        </tr>

        <tr>
            <td class="table__cell">Status</td>
            <td class="table__cell">{{ object.status }}</td>
        </tr>
            </tbody>
        </table>
        <h2>Postman collection</h2>
        {% for postman in postman_result %}
            <table class='table-t'>
            <thead>
                <tr>
                    <th>HTTP method</th>
                    <th>HTTP url</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td colspan='3'></td>
                </tr>
            {% for calls in postman.json %}
                <tr>
                    <td class="table__cell">
                        <b>{{calls.item.name}}</b>
                    </td>
                    <td class="table__cell">
                    </td>
                    <td class="table__cell">
                    {% if calls.response.code|to_int in error_codes and not calls.item.error_test %}
                        <p class='cell-success cell-content-fix'></p>
                    {% else %}
                        <p class='cell-fail cell-content-fix'></p>
                    {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="table__cell">
                        {{calls.request.url.url}}
                    </td>
                    <td class="table__cell">
                        {{ calls.response.code }} {{ calls.response.status }}
                    </td>
                    <td class="table__cell">
                    {% if calls.response.code|to_int in error_codes %}
                        <p class='cell-success cell-content-fix'></p>
                    {% else %}
                        <p class='cell-fail cell-content-fix'></p>
                    {% endif %}
                    </td>
                </tr>
                {% for assertion in calls.assertions %}
                    <tr>
                    <td class="table__cell">
                        {% if forloop.counter == 1 %}
                            <u>Tests</u>
                        {% endif %}
                    </td>
                    {% if 'error' in assertion %}
                        <td class="cell-fail cell-content-fix">
                            {{assertion.assertion}}
                        </td>
                        <td class="table__cell">
                            {{assertion.error.message}}
                        </td>
                    {% else %}
                        <td class="table__cell">
                            {{assertion.assertion}}
                        </td>
                        <td class="table__cell ">
                            <p class='cell-success cell-content-fix'></p>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan='3'></td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</body>

</html>

<style>
    body {
        font-family:  Arial, Geneva, Helvetica;

    }

    .cell-success {
        background-color: green;
        color: white
    }

    .cell-fail {
        background-color: red;
        color: white
    }

    .table-t {
        table-layout: auto;
        border-collapse: collapse;
        width: 100%
    }

    .cell-name {
        width: 30%
    }

    .cell-content-fix {
        max-width: 100%;
        white-space: nowrap;
    }

    .cell-content {
        width: 70%
    }

</style>

{% endwith %}
{% endwith %}
