{% extends 'master.html' %}

{% block title %}Server-run detail{% endblock%}


{% block content %}

<article class="article">
    <div class="article__section">
        <h1>View the log of a test session</h1>
        <input type="button" class="button button--primary" value="Server-run list" onclick="location.href= '{% url 'server_run:server-run_list' %}';">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% include 'components/table/table-server-run.html' with server_run=object only %}
            </tbody>
        </table>
    </div>
</article>

{% endblock %}
