{% extends 'master.html' %}

{% block title %}Server-run detail{% endblock%}


{% block content %}

<article class="article">
    <div class="article__section">
        <h1>Calls list of postman collection truncatewords_html</h1>
        <input type="button" class="button button--primary" value="Server-run list" onclick="location.href= '{% url 'server_run:server-run_list' %}';">


        <table class="table">
            <thead>
                <tr>
                    <th class="table__heading">Tijd</th>
                    <th class="table__heading">Request</th>
                    <th class="table__heading">Response status</th>
                </tr>
            </thead>
            <tbody>
                {% for postman in postman_result %}
                    {% for calls in postman.get_json_obj %}
                        <tr>
                            <td class="table__cell">{{ postman.get_json_obj_info.run.timings.started }}</td>
                            <td class="table__cell">{{ calls.request.method }} {{ calls.request.url.url }}</td>
                            <td class="table__cell">{{ calls.response.code }} {{ calls.response.status }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</article>

{% endblock %}
