{% extends 'master.html' %}

{% block title %}Log view{% endblock%}

{% block content %}
<script type="text/javascript">
    $(document).ready(function(){
        var jjson = $('#json-content').text();
        $('#translate').jJsonViewer(jjson);
    })

</script>
<div id="ui-view">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    Log view
                </div>
                <div class="card-body">
                <input type="button" class="btn btn-primary" value="Back to the details" onclick="location.href = '{% url 'server_run:server-run_detail_uuid' object.uuid %}';">
                    <p id="translate"></p>
                    <p id="json-content" hidden=>
                    {{ object.postmantestresult_set.first.display_log_json|safe }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
