{% extends 'master.html' %}
{% load sniplates %}

{% block title %}Start server-run{% endblock%}


{% block content %}


<article class="article">
    <div class="article__section">
        <h1>Start a new server</h1>
        <form method="post">{% csrf_token %}
            {% load_widgets form='forms.html' %}
            {% for field in form %}
                {% form_field field %}
            {% endfor %}
            <input type="submit" class="button button--primary" value="Create Server-run">
            <input type="button" class="button" value="Cancel" onclick="location.href = '{% url 'server_run:server-run_list'  %}';">

      </form>
    </div>
</article>



{% endblock %}
