{% extends "sniplates/django.html" %}
{% load i18n sniplates %}

{% block _label %}
    {% if label %}<label class="form__label" for="{{ id_for_label }}">{{ label }}</label>{% endif %}
{% endblock %}

{% block _help %}
    {% if help_text %}<p class="form__help">{{ help_text }}</p>{% endif %}
{% endblock _help %}

{% block TextInput %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        {% reuse 'input' css_classes='form__input' placeholder=placeholder|default:label %}
        {% reuse '_help' %}
    </div>
{% endblock TextInput %}


{% block submit-btn %}
    <button class="button button--primary" type="submit">{% trans 'Submit' %}</button>
{% endblock submit-btn %}



{% block CheckboxSelectMultiple %}
    <div class="form__control" role="group">
        {% reuse '_label'  %}
        <ul class="list">

            {% for choice in choices %}
                {% if choice.is_group %}
                    {% for val, display in choice.display %}
                        <h4 class="form__subtitle">{{ choice.value }}</h4>
                        {% reuse '_CheckboxSelectItem' val=val value=value display=display %}
                    {% endfor %}
                    </ul>
                {% else %}
                    {% reuse '_CheckboxSelectItem' val=choice.value display=choice.display %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block _CheckboxSelectItem %}
    <li class="list__item">
        {% with count=forloop.counter0|escape %}
            {% with id_for_label=id|add:'_'|add:count %}
                <input name="{{ html_name }}" type="checkbox" id="{{ id_for_label }}" value="{{ val }}"
                       {% if val in value %}checked{% endif %}>&nbsp;
                {% reuse '_label' id_for_label=id_for_label label=display %}
            {% endwith %}
        {% endwith %}
    </li>
{% endblock %}
