{% extends "sniplates/django.html" %}
{% load i18n sniplates %}

{% block _errors %}
    {% if errors %}
        <ul class="form__error-list">
            {% for error in errors %}
                <li class="form__error">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}


{% block input %}
    {% with input_type=input_type|default:"text" %}
        <input type="{{ input_type }}"
               name="{{ html_name }}"
               id="{{ id }}"
               value="{{ raw_value|default:"" }}"
               class="{{ css_classes }}{{ errors|yesno:" form__input--error," }}"
            {{ widget.attrs|flatattrs }}
            {{ required|yesno:"required," }}
               {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        >
    {% endwith %}
{% endblock %}

{% block Textarea %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        <textarea name="{{ html_name }}" id="{{ id }}" class="form__textarea{{ css_classes }}{{ errors|yesno:" form__textarea--error," }}"
            {{ widget.attrs|flatattrs }}
            {{ required|yesno:"required," }}
            {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        >{{ raw_value|default:'' }}</textarea>
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock %}


{% block _label %}
    {% if label %}<label class="form__label" for="{{ id_for_label }}">{{ label }}</label>{% endif %}
{% endblock %}

{% block _help %}
    {% if help_text %}
    <div class="form__help">{{ help_text }}</div>
    {% endif %}
{% endblock _help %}


{% block Select %}
    <div class="form__control" role="group">
        {% reuse '_label' %}

        <select name="{{ html_name }}" id="{{ id }}"
                class="form__select{{ errors|yesno:" form__select--error," }}" {{ widget.attrs|flatattrs }}>
            {% for choice in choices %}
                {% if choice.is_group %}
                    <optgroup label="{{ choice.value }}">
                        {% for val, display in choice.display %}
                            {% reuse '_Select_Option' val=val value=value display=display %}
                        {% endfor %}
                    </optgroup>
                {% else %}
                    {% reuse '_Select_Option' val=choice.value value=value display=choice.display %}
                {% endif %}
            {% endfor %}
        </select>

        {% reuse '_errors' %}
    </div>
{% endblock %}


{% block TextInput %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        {% reuse 'input' css_classes='form__input' placeholder=placeholder|default:label %}
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock TextInput %}


{% block PasswordInput %}
    {% reuse 'TextInput' input_type='password' %}
{% endblock PasswordInput %}

{% block EmailInput %}
    {% reuse 'TextInput' input_type='email' %}
{% endblock EmailInput %}


{% block URLInput %}{% reuse "TextInput" input_type="url" %}{% endblock %}


{% block submit-btn %}
    <button class="button button--primary" type="submit">{% trans 'Submit' %}</button>
{% endblock submit-btn %}


{% block CheckboxSelectMultiple %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        <ul class="list">

            {% for choice in choices %}
                {% if choice.is_group %}
                    {% for val, display in choice.display %}
                        <h4 class="form__subtitle">{{ choice.value }}</h4>
                        {% reuse '_CheckboxSelectItem' val=val value=value display=display %}
                    {% endfor %}
                    </ul>
                {% else %}
                    {% reuse '_CheckboxSelectItem' val=choice.value display=choice.display %}
                {% endif %}
            {% endfor %}
        </ul>

        {% reuse '_errors' %}
    </div>
{% endblock %}


{% block _CheckboxSelectItem %}
    <li class="list__item">
        {% with count=forloop.counter0|escape %}
            {% with id_for_label=id|add:'_'|add:count %}
                <input name="{{ html_name }}" type="checkbox" id="{{ id_for_label }}" value="{{ val }}"
                       {% if val in value %}checked{% endif %}>&nbsp;
                {% reuse '_label' id_for_label=id_for_label label=display %}
            {% endwith %}
        {% endwith %}
    </li>
{% endblock %}


{% block CheckboxInput %}
    <div class="form__control" role="group">
        {% reuse '_label' %}
        <input name="{{ html_name }}" class="form__check" type="checkbox" id="{{ id_for_label }}" value="{{ id }}">
        {% reuse '_help' %}
        {% reuse '_errors' %}
    </div>
{% endblock %}
