{% extends 'master.html' %}
{% load sniplates %}

{% block title %}Login{% endblock %}

{% block content %}
    <article class="article">
        <div class="article__section">
            <h1>Login</h1>

            <form class="form" method="post">{% csrf_token %}
                {% load_widgets form='forms.html' %}

                {% for field in form %}
                    {% form_field field %}
                {% endfor %}

                <input type="submit" class="button button--primary" value="Login">
                <input type="button" class="button " value="Cancel"
                       onclick="location.href = '{% url 'testsession:sessions' %}';">
            </form>
        </div>``
    </article>
{% endblock %}
