{% load staticfiles %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}VNG Test-Platform{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ get_media_prefix }}{% static 'css/screen.css' %}" media="screen" rel="stylesheet" />
    <link href="https://coreui.io/docs/assets/css/coreui-icons.css" rel="stylesheet">
    <link href="https://coreui.io/demo/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="https://coreui.io/demo/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://coreui.io/demo/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css">
    <script type="text/javascript"
        src="https://www.jqueryscript.net/demo/Lightweight-jQuery-Plugin-For-JSON-Beautifier-Viewer-jjsonviewer/js/jjsonviewer.js">
    </script>
</head>

</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    {% include 'components/header/header.html' %}
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="main.html">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                            <span class="badge badge-info">NEW</span>
                        </a>
                    </li>

                    <li class="nav-title">Components</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-puzzle"></i> Base</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="base/breadcrumb.html">
                                    <i class="nav-icon icon-puzzle"></i>
                                    Breadcrumb</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="base/cards.html">
                                    <i class="nav-icon icon-puzzle"></i> Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="base/carousel.html">
                                    <i class="nav-icon icon-puzzle"></i>
                                    Carousel</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">

            <!-- Include here the breadcrumbs.html -->
            {% block breadcrumb %}
            {% endblock %}
            <div class="container-fluid">
                {% block content %}
                {% endblock%}
            </div>
        </main>
        <aside class="aside-menu">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
                        <i class="icon-list"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                        <i class="icon-speech"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                        <i class="icon-settings"></i>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane p-3" id="settings" role="tabpanel">
                </div>
            </div>
        </aside>
    </div>

    <script src="{% static 'js/vng.js' %}"></script>
    <script>
        {
            %
            block script %
        } {
            %
            endblock %
        }

    </script>
</body>

</html>
{% endspaceless %}
