.icon-green {
  color: green;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: green;
}

.icon-red {
  color: red;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: red;
}
