@import '../../lib/color';
@import '../../lib/grid';
@import '../../lib/typography';
$form-color-border: $color-gray;
$form-color-enabled: $color-blue;
$form-color-error: $color-red;
$form-color-error-icon: $color-white;
$form-color-focussed: $color-orange;
$form-color-info: $color-blue;
$form-color-input-background: $color-gray;
$form-color-label: $color-gray-darker;
$form-color-primary: $color-orange;
$form-color-primary-text: $color-white;
$form-margin-1: $grid-margin-1;
$form-margin-2: $grid-margin-2;
$form-margin-4: $grid-margin-4;
$grid-margin-10: $grid-margin-10;

$form-size-error-block: $typography-body-line-height;
