@import '../../lib/grid';

$hero-offset-mobile: -30px;
$hero-offset-tablet: -30px;
$hero-offset-laptop: -215px;
$hero-offset-desktop: -215px;
$hero-padding-sidebar-v-mobile: $grid-margin-4;
$hero-padding-sidebar-v-tablet: $grid-margin-2;

.hero {
  @include container;
  @include container--big;
  @include responsive(margin-bottom, $hero-offset-mobile, $hero-offset-tablet, $hero-offset-laptop, $hero-offset-desktop);

  .image__image {
    max-width: 100%;
  }

  + .content {
    padding-top: 0 !important;
  }

  + .content .sidebar {
    @include responsive(padding-top, $hero-padding-sidebar-v-mobile, $hero-padding-sidebar-v-tablet, $hero-padding-sidebar-v-tablet, $hero-padding-sidebar-v-tablet);
    @include responsive(margin-top, -1 * $hero-offset-mobile, -1 * $hero-offset-tablet, -1 * $hero-offset-laptop, -1 * $hero-offset-desktop);
  }
}
