@import '../../lib/grid';
@import '../../lib/typography';

$pagination-margin-1: $grid-margin-1;

.pagination {
  &__list,
  &__list-item {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-item {
    @include body;
    @include bold;
    margin-right: $pagination-margin-1;
  }

  &__link {
    @include anchor;
  }
}
