{% spaceless %}
<nav class="sidebar-nav">
    <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
	  <a class="nav-link" href="{% url 'testsession:sessions' %}">
	    <i class="nav-icon icon-speedometer"></i>Dashboard (tbd)</a>
	</li>

        <li class="nav-title">Test Consumer</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'testsession:sessions' %}">
              <i class="nav-icon icon-list"></i>Consumer sessies
              <span class="badge badge-light">{{ session_active }}</span>
            </a>
	</li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'testsession:session_create' %}">
              <i class="nav-icon icon-note"></i>Start sessie</a>
	</li>
	<li class="nav-title">Test Provider</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_list' %}">
	    <i class="nav-icon icon-list"></i>
	    Provider tests</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_list_scheduled' %}">
	    <i class="nav-icon icon-clock"></i>
	    Scheduled tests<span class="badge badge-light">{{ server_scheduled }}</span></a>
	  </li>
	<li class="nav-item">
	  <a class="nav-link" href="{% url 'server_run:server-run_create_item' %}">
	    <i class="nav-icon icon-note"></i>
	    Start testrun</a>
	</li>

        {% endif %}
	<li class="nav-title">OpenAPI</li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'open_api_inspector:openapi-inspection' %}">
                <i class="nav-icon icon-magnifier"></i>OpenAPI Inspection</a>
        </li>
    </ul>
</nav>
{% endspaceless %}
