{% spaceless %}
<nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">Components</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="{% url 'testsession:sessions'%}">
                            <i class="nav-icon icon-puzzle"></i>Test Consumer</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'testsession:sessions'%}">
                                    <i class="nav-icon icon-puzzle"></i>
                                    List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'testsession:session_create'%}">
                                    <i class="nav-icon icon-puzzle"></i>
                                    Creëren</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
{% endspaceless %}%}
