{% load i18n %}
{% spaceless %}
    <ul class="nav navbar-nav d-md-down-none">
            {% if user.is_authenticated %}
            {% include './navigation-list-item.html' with view_name='testsession:sessions' label=_('Test consumer') request=request only %}
            {% include './navigation-list-item.html' with view_name='server_run:server-run_list' label=_('Test provider') request=request only %}
            {% endif %}
            {% include './navigation-list-item.html' with view_name='open_api_inspector:openapi-inspection' label=_('OpenAPI inspection') request=request only %}
            {% if user.is_superuser %}
            {% include './navigation-list-item.html' with view_name='admin:index' label=_('Admin') request=request only %}
            {% endif %}
    </ul>
{% endspaceless %}
