@import '../../lib/typography';

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;

  &__list-item {
    @include body;
    display: inline;
  }

  &__list-item+&__list-item:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
}
